.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
temp.txt
assets/Thumbs.db
.nf-test/
.nf-test.log
tests/default.nf.test.snap
assets/db/
modules/local/kalamari_build/resources/usr/bin_old/
