/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: NANOQ {
        ext.args   = "-l $params.min_read_length -vvv -H"
        publishDir = [
            path: { "${params.outdir}/nanoq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RASUSA {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/rasusa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FLYE {
        ext.args   = { params.flye_min_overlap ? "--min-overlap $params.flye_min_overlap": "" }
        publishDir = [
            path: { "${params.outdir}/flye" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DNAAPLER {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/dnaapler" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DORADO_POLISH {
        ext.args   = '--no-sort' // dorado aligner
        ext.args2  = '' // samtools sort
        ext.args3  = '--bacteria -v' // dorado polish
        ext.args4  = { "-m orphan_only -r \"ID:basecaller\tDS:basecall_model=${params.model}\"" } // samtools addreplacerg
        publishDir = [
            path: { "${params.outdir}/dorado_polish" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: QUAST {
        ext.args   = ' --no-check --no-plots --no-html --no-icarus --no-snps --no-sv '
        publishDir = [
            path: { "${params.outdir}/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: KALAMARI_BUILD {
        ext.args   = ""
        publishDir = [
            path: { "${params.outdir}/kalamari_build" },
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        ext.args   = "--confidence ${params.kraken_confidence}"
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: EXTRACT_CONTAMINATION {
        ext.args   = "-t ${params.cutoff_table} -ct ${params.contamination_threshold}"
        publishDir = [
            path: { "${params.outdir}/contamination/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
